.DS_Store
*.aux
*.log
*.out
*.bcf
*.lof
*.xml
*.gz
*.toc
*.DS_Store
*.blg
*.tex~
*.el
*.bbl
*.blg
*.brf
*.loa
*.fdb_latexmk
*.fls
.#*
*#*
*.synctex
*.tdo
examiner_nomination_form-2018-19.docx
PhD_summary.docx
